CHECKINS_POSTGRES_USER=fitboddy_checkins
CHECKINS_POSTGRES_PASSWORD=fitboddy_checkins_local_dev
CHECKINS_POSTGRES_DB=fitboddy_checkins

CHECKINS_JWT_SECRET=checkins_dev_secret_change_me
CHECKINS_JWT_ALGORITHM=HS256
CHECKINS_ACCESS_TOKEN_TTL_MINUTES=10080

CHECKINS_CORS_ALLOW_ORIGINS=http://localhost:8090,http://127.0.0.1:8090
